* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(https://images.pexels.com/photos/4144923/pexels-photo-4144923.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

.card {
    width: 400px;
    height: 500px;
    position: relative;
    background-color: transparent;
    animation: scaleUp 2s ease-in-out 1 alternate;
    border-radius: 20px;
    backdrop-filter: blur(10px); 
    border: 3px solid white
}

.card img{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    border: 3px solid white;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 14px;
}

.text h3{
    font-size: 25px;
    margin-bottom: 45px;
    white-space: nowrap;
}

.text p{
    font-size: 18px;
    line-height: 35px;
    white-space: nowrap;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}
